@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');


*{
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
input{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: #f2f2f2;
    padding-top: 1rem;
}

body{
    background-color: #D9D9D9;
}

h1{
    padding-left: 1rem;
    font-size: 2.5rem;
    font-weight: 500;
}

img{
    padding: 2rem;
}

iframe{
    padding-top: 0.6rem;
}

fieldset{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    height: 100%;
}

button{
    
    width: 30%;
    height: 50%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    box-shadow: 1px 2px 5px #f2f2f2;
    transition: all 0.2s ease-in-out;
}
input{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    
}

table{
    border-color: #f2f2f2;
    height: 70%;
    margin: auto;
    padding: 0.2px;
    text-align: center;
}

td{
    padding: 0.5rem;
    text-align: center;
}


.row-button{
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    height: 30%;
    justify-content: space-around;
    align-items: center;
}
.main{
    display: flex;
    width: 62rem;
    height: 44rem;
    margin: auto;
    border-radius: 1rem;
    margin-top: 4rem;
    border-color: #f6f6f6;
    -webkit-box-shadow: 5px -2px 40px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 5px -2px 40px -12px rgba(0,0,0,0.75);
box-shadow: 5px -2px 40px -12px rgba(0,0,0,0.75);


}

.menu{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    justify-items: flex-start;
    padding: 1rem;
    padding-top: 2rem;
    background-color: #173F73;
   border-top-left-radius: 1rem;
   border-bottom-left-radius: 1rem;
    
    
    
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    align-items: center;
    color: #f6f6f6;
    background-color: #173BA6;
    border-top-right-radius: 1rem;
    
    
}


.content{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
    background-color: #3973BF;
    color: #f6f6f6;
    
}

.content2{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    background-color: #3973BF;
    color: #f6f6f6;
    padding: 1rem;
    font-size: 1.1rem;
    
}

.content3{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 60%;
    background-color: #3973BF;
    color: #f6f6f6;
    padding: 1rem;
    font-size: 1.1rem;
    justify-content: space-between;
}

.col1{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: center;
    font-size: 1.1rem;
}

.col2{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   
}
.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    color: #f6f6f6;
    background-color: #173BA6;
    border-bottom-right-radius: 1rem;
    padding: 1rem;
}

.hoverButton:hover{
    transition: all 0.2s ease-in-out;
    text-shadow:  1px 1px 4px #f2f2f2;
    
}

#insta{
    font-weight: 500;
    font-style: italic;
    font-size: 1.3rem;
    padding: 0;
}

#insta:hover{
    transition: all 0.2s ease-in-out;
    text-shadow:  1px 1px 4px #f2f2f2;
}

#instaIcon{
    padding: 0;
    padding-left: 4px;
    padding-top: 16px;
}
#aboutMe{
    padding: 1rem;
}

#selfie{
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

#valores{
    height: 50%;
    margin: auto;
}